footer.footer.top-space
  div.footer1
    div.container
      div.row
        div.col-md-3.widget
          h3.widget-title Support
          div.widget-body
            p (+57)   3108187426
            br
            a(href="mailto:#") ftrianakast@gmail.com
            br
            | Calle 6B No 9-26, Madrid Cundinamarca, Colombia

        div.col-md-3.widget
          h3.widget-title Contact me
          div.widget-body
            p.follow-me-icons
              a(href="https://twitter.com/ftrianakast")
                i.fa.fa-twitter.fa-2
              a(href="https://github.com/ftrianakast")
                i.fa.fa-github.fa-2

        div.col-md-6.widget
          h3.widget-title Text widget
          div.widget-body
            p Prueba para demostrar actitudes Front-End para Vision Software.
              | Esta es una versión de prueba que podrá ser utilizada como guía para
              | futuros proyectos
