header(ng-controller="LoginCtrl")
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand Workportal Bizagi
      div.navbar-collapse.collapse
        div.nav.navbar-right
          button.btn.btn-default.navbar-btn.btn-special(ng-click="logout()") Logout
          p.navbar-text Signed in as Admin
