
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand">Workportal Bizagi</a></div>
    </div>
  </nav>
</header>
<div ng-controller="LoginCtrl" class="container">
  <article class="col-xs-12 maincontent">
    <header class="page-header"><img src="/images/logonew.png"/></header>
    <div class="col-md-6 col-md-offset-3 col-sm-8-col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1 class="thin text-center">Ingrese al portal</h1>
          <form novalidate="novalidate" name="loginform">
            <div ng-class="{ 'has-error': loginform.username.$invalid || loginform.password.$invalid }" class="form-group">
              <div class="top-margin">
                <label>Username/Email</label>
                <input ng-model="username" name="username" required="required" class="form-control"/>
              </div>
              <div class="top-margin">
                <label>Password</label>
                <input type="password" ng-model="password" name="password" required="required" class="form-control"/>
              </div>
            </div>
            <hr/>
            <div id="alert-1" flash-alert="error" active-class="in" class="alert fade"><span class="alert-message">{{flash.message}}</span></div>
            <div class="row">
              <div class="col-lg-8"><b><a popover-placement="top" popover="Recuerde que sólo existe el usuario:admin, password:admin" popover-trigger="mouseenter">Forgot your password?</a></b></div>
              <dic class="col-lg-4 text-right">
                <button ng-click="login()" ng-disabled="loginform.$invalid" class="btn btn-action btn-special">Sign in</button>
              </dic>
            </div>
            <div class="top-margin"></div>
          </form>
        </div>
      </div>
    </div>
  </article>
</div>
<footer class="footer top-space">
  <div class="footer1">
    <div class="container">
      <div class="row">
        <div class="col-md-3 widget">
          <h3 class="widget-title">Support</h3>
          <div class="widget-body">
            <p>(+57)   3108187426</p><br/><a href="mailto:#">ftrianakast@gmail.com</a><br/>Calle 6B No 9-26, Madrid Cundinamarca, Colombia
          </div>
        </div>
        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact me</h3>
          <div class="widget-body">
            <p class="follow-me-icons"><a href="https://twitter.com/ftrianakast"><i class="fa fa-twitter fa-2"></i></a><a href="https://github.com/ftrianakast"><i class="fa fa-github fa-2"></i></a></p>
          </div>
        </div>
        <div class="col-md-6 widget">
          <h3 class="widget-title">Text widget</h3>
          <div class="widget-body">
            <p>
              Prueba para demostrar actitudes Front-End para Vision Software.
              Esta es una versión de prueba que podrá ser utilizada como guía para
              futuros proyectos
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>