html(lang="en")
    head
        title Workportal bizagi
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="stylesheet", href="/lib/theme.css")
        link(rel="stylesheet", href="/lib/main.css")
        link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.min.css")
    body
        .ng-view
        script(src="/bower_components/requirejs/require.js" data-main="/scripts/bootstrap.js")

